.dark {
  --oklch-value: oklch(14.5% 0 0); /* --color-neutral-950 */
  --tailwind-variable: oklch(0.985 0 0); /* --color-neutral-50 */
  --random-value: oklch(7% 0.1 140); /* 🔥 near --color-lime-950 */
}
